/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 250; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /*========== Font and typography ==========*/
    --body-font: "Montserrat", sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 62.5%;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 3.2rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 62.5%;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== Variables Dark theme ==========*/


/*========== Button Dark/Light ==========*/


/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: var(--normal-font-size);

}

body {
  margin: 0 ;
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title, 
.section__subtitle {
  text-align: center;
}

/*==================== LAYOUT ====================*/
.wrapper  {
  max-width: 1200px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*==================== NAV ====================*/

/*==================== NAVBAR HEADER ====================*/
header {
  background-color: none;
  /* padding: 2.5em; */
}

.hero{
  /* background: url("images/herobg.png"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  position: fixed;
  right: -100%;
  top: 0;
  width: 50%;
  background: #FFF;
  height: 100vh;
  z-index: 2;
  transition: right .5s ease-in-out;
  padding: 3.6em;
}
/* nav ul li a {
font-size: 1.8rem;
color: #FFF;
} */

.menu-btn {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.open {
  right: 0%;
}
.close {
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-bottom: 6.6em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
/*   margin:1em; */
}

a.logo {
  color: #0460BC;
  font-size: 2.2rem;
  font-weight: bold;
}
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3.5em;
}

ul li a {
  font-size: 1.8rem;
  color: #000000;
}

ul li a.active {
  font-weight: bold;
}

ul li a:hover {
  color: #00CE79;
}

a.cart {
  background-color: #00CE79;
  display: flex;
  gap: 1rem;
  align-items: center;
  color: black;
  font-size: 1.8rem;
  padding: 1rem;
  border-radius: .4rem;
}

a.cart p {
  margin: 0;
}

a.cart:hover {
  background-color: #03B169;
}

.mobile-cart-menu {
  display: flex;
  align-items: center;
  gap: 2em;
}
@media screen and (max-width: 600px) {
.cart{
  display: none;
}
}
@media screen and (min-width: 600px) {
  .menu-btn, .close {
      display: none;
  }

  nav {
      position: unset;
      height: auto;
      background: none;
      padding: 0;
      width: auto;
  }
  ul {
      flex-direction: row;
  }
}



/* show menu */


/* Active link */


/* Change background header */


/*==================== HOME ====================*/
/*==================== FOOTER ====================*/
.grid-footer{
  display: grid;
  /* gap: 1.5rem; */
}
.footer{
  padding-top: 2rem;
}

.footer__container{
  /* row-gap: 3.5rem; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;

}

.footer__bg{
  background-color: #252E2A;
  padding: 2rem 0 3rem;
}

.footer__title{
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
}

.footer__subtitle{
  font-size: var(--small-font-size);
}

.footer__links{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.footer__link:hover{
  color: var(--first-color-lighter);
}

.footer__social{
  font-size: 1.25rem;
  margin-right: var(--mb-1-5);
}

.footer__social:hover{
  color: var(--first-color-lighter);
}

.footer__copy{
  font-size: var(--p-font-size);
  text-align: center;
  color: var(--text-color-light);
  margin-top: var(--mb-3);
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social{
  color: #ffffff;
}
@media screen and (min-width: 568px){
 
  .footer__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

}

@media screen and (min-width: 768px){


  .footer__container{
    grid-template-columns: repeat(3, 1fr);
    padding: 0 1rem;
  }
  .footer__bg{
    padding: 3rem 0 3.5rem;
  }
  .footer__links{
    flex-direction: row;
    column-gap: 2rem;
  }
  .footer__socials{
    justify-self: flex-end;
  }

  .footer__copy{
    margin-top: 4.5rem;
  }
}
@media screen and (min-width: 1024px){
  .header,
  .main,
  .footer__container{
    padding: 0;
  }

}
.wrapper{
  max-width:1200px;
  margin:0 auto;
}
/*==================== ABOUT ====================*/


/*==================== SKILLS ====================*/


/*==================== QUALIFICATION ====================*/


/*==================== SERVICES ====================*/


/*==================== TESTIMONIAL ====================*/


/*==================== CONTACT ME ====================*/


/*==================== FOOTER ====================*/




/*==================== MEDIA QUERIES ====================*/
/* For small devices */


/* For medium devices */


/* For large devices */